{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}

{{block header}}

{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>

{{block left_sidebar}}
<div id="left_sidebar" >
<div style="padding: 4px;">
    <div class="container" >
    <div class="body__left">
      {{for item in aliste:}}
         <a href={{=URL('default','do_something', vars=dict(medium=item))}} class="info__song""> {{=item}} </a> <br>
      {{pass}}
    </div>
</div>
</div>
</div><!-- left_sidebar -->
{{end}}

<div class="container" >
    <div class="body__info">
      {{for item in sliste:}}
         <a href={{=URL('default','do_something', vars=dict(medium=item))}} class="info__song""> {{=item}} </a> <br>
      {{pass}}
    </div>

    <div class="body__buttons">
        <ul class="list list--buttons">
        <li><a href="#" class="list__link"><i class="fa fa-heart-o"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-random"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-undo"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-ellipsis-h"></i></a></li>
          </ul>
      </div>
</div>





