{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}

{{block header}}

{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>

{{block left_sidebar}}

{{end}}

<div class="container" >
   <div class="container" >
    <div class="row">
        <div class="col-sm">
            <h1>Author</h1>
            {{for item in aliste:}}
                <a href={{=URL('default','audiobooks', vars=dict(selected_artist=item))}} style="text-decoration:none">
                <div class="{{="dispfield darkgr bordered bdIlluminating" if selected_artist[0]==item[0] else "dispfield  bdFrenchblue"}}">
                    <div><b> {{=str(item[0])}}</b></div>

                </div>
                </a>
                {{pass}}

        </div>
        <div class="col-sm">
            {{#=selected_artist}}
            <h1>Books</h1>
            {{for item in sliste:}}
                <a href={{=URL('default','do_play', vars=dict(album=item[1], artist=selected_artist, type='folder'))}} style="text-decoration:none">
                    <div class="dispfield  bdRaspberry">
                    <div><b> {{=str(item[0])}}</b></div>
        </div>
            {{pass}}
        </div>
    </div>
</div>


</div>





