{{extend 'layout.html'}}

{{block header}}
{{end}}
<style>
    .row{
        background-color: #114b6f;
    }

</style>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="http://192.168.4.1" target="_blank" role="button">Lampe</a>
    <a class="btn btn-success" href={{=URL('default','sound')}} role="button">Sounds</a>
    <a class="btn btn-success" href={{=URL('default','song')}} role="button">Album</a>
    <a class="btn btn-success" href={{=URL('default','audiobook')}} role="button">Audiobook</a>
  </div>
</div>



