{{extend 'layout.html'}}

{{block header}}

{{end}}
hallo

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="#" role="button">Play</a>
    <a class="btn btn-danger" href="#" role="button">List</a>
    <a class="btn btn-success" href={{=URL('default','do_something', vars=dict(cmd='play'))}} role="button">Do something</a>
    <a class="btn btn-warning" href={{=URL('default','vlc_client', vars=dict(cmd='set_path', arg='/home/peterl/Oldes/Musik/bosshoss/liberty/'))}} role="button">Set_Path</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="wrapper">
  <div class="player__container">
    <div class="player__body">

      <div class="body__info">
        <div class="info__album">{{=album}}</div>
        <div class="info__song">{{=title}}</div>
        <div class="info__artist">{{=artist}}</div>
      </div>

      <div class="body__buttons">
        <ul class="list list--buttons">
          <li><a href={{=URL('default','do_something', vars=dict(cmd='backward'))}} class="list__link"><i class="fa fa-step-backward"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-stop"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-play"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-pause"></i></a></li>
          <li><a href={{=URL('default','do_something', vars=dict(cmd='forward'))}} class="list__link"><i class="fa fa-step-forward"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="body__info">
      {{#=form}}
    </div>

    <div class="player__footer">
      <ul class="list list--footer">
        <li><a href="#" class="list__link"><i class="fa fa-heart-o"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-random"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-undo"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-ellipsis-h"></i></a></li>
      </ul>
    </div>
  </div>
</div>
      </div>



