{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}

{{block header}}

{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>


<div class="container" >
      <div class="body__info">
        <div class="info__album">{{=mdict['album']}}</div>
        <div class="info__song">{{=mdict['title']}}</div>
        <div class="info__artist">{{=mdict['artist']}}</div>
      </div>

      <div class="body__buttons">
        <ul class="list list--buttons">
          <li><a href={{=URL('default','do_something', vars=dict(cmd='backward'))}} class="list__link"><i class="fa fa-step-backward"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-stop"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-play"></i></a></li>
          <li><a href={{=URL('default','vlc_client', vars=dict(cmd='play_list'))}} class="list__link"><i class="fa fa-pause"></i></a></li>
          <li><a href={{=URL('default','do_something', vars=dict(cmd='forward'))}} class="list__link"><i class="fa fa-step-forward"></i></a></li>
        </ul>
        <br><br><br><br>
        <ul class="list list--buttons">
        <li><a href="#" class="list__link"><i class="fa fa-heart-o"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-random"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-undo"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-ellipsis-h"></i></a></li>
          </ul>
      </div>

</div>





