{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}


{{block header}}
{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>


<meta http-equiv="refresh" content="500">

<div class="container" >
      <div class="body__info">
        <div class="info__album">{{#=data['album'] if data.get('album') else data['file_path'].rsplit('/', 1)[1]}}</div>
        <div class="info__song">{{=data['playing'] if data.get('playing') else ''}}</div>
        <div class="info__artist">{{=data['artist'] if data.get('artist') else ''}}</div>

      </div>

      <div class="body__buttons">
        <ul class="list list--buttons">
          <li><a href={{=URL('default','vlc_stop')}} class=""><i class="fa fa-stop"></i></a></li>
          <li><a href={{=URL('default','vlc_play')}} class="list__link"><i class="fa fa-play"></i></a></li>
          <li><a href={{=URL('default','vlc_pause')}} class="list__link"><i class="fa fa-pause"></i></a></li>
          <li><a href={{=URL('default','vlc_forward')}} class="list__link"><i class="fa fa-step-forward"></i></a></li>
        </ul>
          <div class="body__info">

          <div class="body__info">
          <div class="info__album">Current Time: </div>
          <div class="info__album">Length: {{=data['length'] if data.get('length') else '0'}}</div>
           </div>
          <ul class="list list--buttons">
          <li><a href={{=URL('default','vlc_forward')}} class="list__link"><i class="fa fa-step-forward"></i></a></li>
        </ul>
        <br><br>
         <ul class="list list--buttons">
        <li><a href={{=URL('default','vlc_delta_minus')}} class="list__link"><i class="fa fa-minus-circle"> </i></a></li>
        {{=data['volume']}}
        <li><a href={{=URL('default','vlc_delta_plus')}} class="list__link"><i class="fa fa-plus-circle"> </i></a></li>
        </ul>


        <br><br>
        <ul class="list list--buttons">
        <li><a href="#" class="list__link"><i class="fa fa-random"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-undo"></i></a></li>
        <li><a href="#" class="list__link"><i class="fa fa-ellipsis-h"></i></a></li>
          </ul>


        <div class="body__info">

        Status: {{=data['status']}}
        {{if data['last_file']: }}
            <br>
            {{='Bookmark: '}}
            {{=data['last_file']}} - {{=data['playtime']}}
            {{pass}}
        </div>
      </div>



</div>


<div class="progress">
  <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
       aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span id="current-progress"></span>
  </div>
</div>




