{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}

{{block header}}

{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>

{{block left_sidebar}}

{{end}}

<div class="container" >
   <div class="container" >
    <div class="row">
        <div class="col-sm">
            <h1>Artists</h1>
            <br>
            {{for item in aliste:}}
                <a href={{=URL('default','change_author', vars=dict(artist=item, page="songs"))}} class="info__song""> {{=item[0]}} </a> <br>
            {{pass}}
        </div>
        <div class="col-sm">
            {{#=selected_artist}}
            <h1>Album</h1>
            {{for item in sliste:}}
                <a href={{=URL('default','change_album', vars=dict(album=item[1], artist=selected_artist ))}} class="info__song"">
                        {{=item[0]}} </a> <br>
            {{pass}}
        </div>
        <div class="col-sm">
            {{#=selected_album}}
            <h1>Album</h1>
            {{for item in bliste:}}
                <a href={{=URL('default','do_play', vars=dict(title=item[1], album=selected_album, artist=selected_artist, type='file'))}} class="info__song"">
                        {{=item[0]}} </a> <br>
            {{pass}}
        </div>
    </div>
</div>


</div>





