{{extend 'layout.html'}}
{{left_sidebar_enabled = False
right_sidebar_enabled = False}}

{{block header}}

{{end}}

<style>
    .body,
    .container,
    .player__footer {
        background-color: #114b6f;
    }
</style>

{{block left_sidebar}}

{{end}}

<div class="container" >
   <div class="container" >
    <div class="row">
        <div class="col-sm">
            <h1>Artists</h1>

             {{for item in aliste:}}
                <a href={{=URL('default','songs', vars=dict(selected_artist=item))}} style="text-decoration:none">
                <div class="{{="dispfield darkgr bordered bdIlluminating" if selected_artist[0]==item[0] else "dispfield  bdFrenchblue"}}">
                    <div><b> {{=str(item[0])}}</b></div>

                </div>
                </a>
                {{pass}}
        </div>
        <div class="col-sm">
            {{#=selected_artist}}
            <h1>Album</h1>
            {{if False:}}
                <a href={{=URL('default','change_album', vars=dict(album=item[1], selected_artist=selected_artist ))}} class="info__song"">
                        {{=item[0]}} </a> <br>
            {{pass}}
            {{for item in sliste:}}
                <a href={{=URL('default','songs', vars=dict(selected_album=item, selected_artist=selected_artist))}} style="text-decoration:none">
                <div class="{{="dispfield darkgr bordered bdIlluminating" if selected_album[0]==item[0] else "dispfield  bdFrenchblue"}}">
                    <div><b> {{=str(item[0])}}</b></div>

                </div>
                </a>
                {{pass}}
        </div>
        <div class="col-sm">
            {{#=selected_album}}
            <h1>Album</h1>
            {{for item in bliste:}}
                <a href={{=URL('default','do_play', vars=dict(title=item[1], selected_album=selected_album, selected_artist=selected_artist, type='file'))}} class="info__song"">
                        {{=item[0]}} </a> <br>
            {{pass}}
        </div>
    </div>
</div>


</div>





